@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

main {
    width: 100%;
    height: 100%;
}

.swiper {
    height: 100vh;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
